div#main {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

div[id*='Board'] {
  display: flex;
}

div[id*='Board'] div > * {
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

.cell.preview {
  background-color: rgba(0, 255, 0, 0.4); /* green ghost for valid placement */
}

.cell.ship {
  background-color: darkgreen;
}

#personBoard.disabled,
#computerBoard.disabled {
  opacity: 0.5;
  pointer-events: none;
  filter: grayscale(0.5);
}

.cell.attacked,
.cell.attacked {
  background-color: brown;
}

#rotateBtn.hidden {
  display: none;
}
