@import url(./gameboard.css);
@import url(./info.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

div#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #edf2f4;
}

div#menu-container {
  display: flex;
  justify-content: center;
  height: 70px;
}

div#menu {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#menu #logo {
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
}

div#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex: 1;
}

div#controls {
  position: relative;
}

#rotateBtn {
  position: fixed;
  width: 100px;
  height: 40px;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, -40%);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

footer p#footer-text > a {
  text-decoration: none;
  color: #000;
}
